In [2]:
#튜플은 프로그램이 시작되면 내용을 변경할 수 없음 
#중요 개인정보 데이터 처리할 때 사용 

leg_day = ('스쿼트', '런지', '레그컬')
leg_day

('스쿼트', '런지', '레그컬')

In [4]:
leg_day[0]

'스쿼트'

In [6]:
leg_day[0] = '벤치프레스' # error!

TypeError: 'tuple' object does not support item assignment

In [8]:
leg_day.append('숄더 프레스') # error!

AttributeError: 'tuple' object has no attribute 'append'

In [10]:
del leg_day[0] # error!

TypeError: 'tuple' object doesn't support item deletion

In [12]:
#딕셔너리 { key : value } 

stock_prices = {
    '삼성전자' : 60000,
    'sk 하이닉스' : 140000,
    '네이버' : 350000
} 

stock_prices

{'삼성전자': 60000, 'sk 하이닉스': 140000, '네이버': 350000}

In [14]:
stock_prices['네이버']

350000

In [16]:
for key_value in stock_prices :
    print(key_value)

삼성전자
sk 하이닉스
네이버

In [20]:
for key in stock_prices.keys() :
    print(key)

삼성전자
sk 하이닉스
네이버

In [22]:
for value in stock_prices.values() :
    print(value)

60000
140000
350000

In [24]:
for key, value in stock_prices.items() :
    print(key, value)

삼성전자 60000
sk 하이닉스 140000
네이버 350000

In [34]:
stock_prices = {
    '삼성전자' : [60000, 65000, 62000],
    'sk 하이닉스' : [140000, 141000, 150000, 140000],
    '네이버' : [350000, 320000, 280000]
} 

for key, value in stock_prices.items() :
    print(key, value)

삼성전자 [60000, 65000, 62000]
sk 하이닉스 [140000, 141000, 150000, 140000]
네이버 [350000, 320000, 280000]

In [38]:
for key, value in stock_prices.items() :
    avg = sum(value)/len(value)
    print(f'{key}의 평균 주가는 {int(avg)}원 입니다.' )

 삼성전자의 평균 주가는 62333원 입니다.
 sk 하이닉스의 평균 주가는 142750원 입니다.
 네이버의 평균 주가는 316666원 입니다.

In [40]:
stock_prices = {
    '삼성전자' : {'최고가' : 80000, '최저가' : 50000, '현재가' : 61000},
    'sk 하이닉스' : {'최고가' : 160000, '최저가' : 142000, '현재가' : 153000},
    '네이버' : {'최고가' : 400000, '최저가' : 280000, '현재가' : 282000}
} 

for key, value in stock_prices.items() :
    print(key, value)

삼성전자 {'최고가': 80000, '최저가': 50000, '현재가': 61000}
sk 하이닉스 {'최고가': 160000, '최저가': 142000, '현재가': 153000}
네이버 {'최고가': 400000, '최저가': 280000, '현재가': 282000}

In [46]:
for key, value in stock_prices.items() :
    min = value['최저가']
    max = value['최고가']
    print( f'{key}의 최고가는 {max}원, 최저가는 {min}원 입니다.')

 삼성전자의 최고가는 80000원, 최저가는 50000원 입니다.
 sk 하이닉스의 최고가는 160000원, 최저가는 142000원 입니다.
 네이버의 최고가는 400000원, 최저가는 280000원 입니다.

In [50]:
for key, value in stock_prices.items() :
    print( f'{key}의 최고가는 {value['최고가']}원, 최저가는 {value['최저가']}원 입니다.')

삼성전자의 최고가는 80000원, 최저가는 50000원 입니다.
sk 하이닉스의 최고가는 160000원, 최저가는 142000원 입니다.
네이버의 최고가는 400000원, 최저가는 280000원 입니다.